$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$white-color: #ffffff;
$background-color: #2f303a;
$background-color-hero: #c4c4c4;
$bg-color-button: #188ce8;
$background-team-buttons: #f5f4fa;
$background-icon-quality: #f5f4fa;
$text-black: #000000;
$mail-tel-color: rgba(255, 255, 255, 0.6);
$border-color: #ececec;
$border-color-img: #eeeeee;
$contacts-icon-color: #757575;
$customers-icon-fill: #afb1b8;
$contacts-social-link-bg: rgba(255, 255, 255, 0.1);